@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    --background: #ddd;
    --bg-accent: #fff;
    --primary: #08d;
    --foreground: #333;
    --fg-accent: #666;
    background-color: var(--background);
    color: var(--foreground);
}

/* Header */

header,
footer {
    background: var(--foreground);
    color: var(--bg-accent);
    padding: 2px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li a {
    color: var(--bg-accent);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: var(--primary);
}

@media (max-width: 480px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
}

/* Titles */

h1 {
    color: var(--foreground);
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.subtitle {
    color: var(--);
    font-weight: 500;
    font-size: 1.25rem;
}

h2 {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h3 {
    color: var(--foreground);
    margin-bottom: 10px;
}

h4 {
    color: var(--foreground);
    margin-top: 20px;
}

/* Lists */

ul {
    list-style: disc;
    margin: 10px 0 10px 20px;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

/* Links */

a {
    color: var(--primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--foreground);
    text-decoration: underline;
}

/* Sections */

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: var(--bg-accent);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Projects */

#projects .project {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    background-color: #f3f3f3;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#projects .project:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
