#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--primary);
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

#scroll-to-top:hover {
    background-color: var(--foreground);
}
